@model Category

<div class="form-group mx-auto w-50">
    <br>
    <label for="Id">Id</label>
    @Html.TextBox("Id", Model.Id, new { id = "Id", @readonly = "readonly", @class = "form-control" })
    <br>
    <label for="Name">Name</label>
    @Html.TextBox("Name", Model.Name, new { id = "Name", @readonly = "readonly", @class = "form-control" })
    <br>
    <label for="Type">Type</label>
    @Html.TextBox("Type", Model.Type, new { id = "Type", @readonly = "readonly", @class = "form-control" })
    <br>
    <div class="text-center">
        <a asp-controller="Category" asp-action="UpdateAsync" asp-route-id="@Model.Id" class="text-dark">Update</a>
        |
        <a asp-controller="Category" asp-action="DeleteAsync" asp-route-id="@Model.Id" class="text-dark">Delete</a>
    </div>
</div>