@model IEnumerable<Category>

<div>
    <table class="table mt-3">
        <thead class="thead-light">
            <tr>
                <th class="text-dark">
                    Id
                </th>
                <th class="text-dark">
                    Name
                </th>
                <th class="text-dark">
                    Type
                </th>
                <th class="text-dark">
                    Parent Id
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Type</td>
                    <td>@item.ParentId</td>
                    <td>
                        <a asp-controller="Category" asp-action="GetByIdAsync" asp-route-id="@item.Id" class="text-dark">Details</a>
                    </td>
                </tr>
            }
            <tr>
                <td colspan="5">
                    <div>
                        <a asp-controller="Category" asp-action="CreateAsync" class="btn bg-light w-100">
                            <h4>+</h4>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
